# Exclude IDE settings
.vscode/

# Exclude Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Exclude virtual environments
.venv/
env/
venv/

# Exclude outputs
tests_out/

# Packaging
*.egg-info/
*.egg

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/