# Exclude IDE settings
.vscode/

# Exclude Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Exclude virtual environments
.venv/
env/
venv/

# Exclude test outputs
tests_out/
tests/output

# Packaging
*.egg-info/
*.egg

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/